---
import Three from '../components/three.vue'
import '../styling/main.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="bg-black text-hackgreen relative">
		  <div class="absolute inset-0 z-0">
			<Three client:load/>
		  </div>
		  <h1 class="relative z-10 text-9xl drop-shadow-greenglow">PASSWORD'24</h1>
	</body>
</html>
