#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  /* cursor: none; */
}

@font-face {
  font-family: 'Calcio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Calcio.ttf);
}

@font-face {
  font-family: 'Mondwest';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Mondwest.otf);
}

@font-face {
  font-family: 'NeueBit';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NeueBit.otf);
}

@font-face {
  font-family: 'Montreal-Book';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Montreal-Book.otf);
}

@font-face {
  font-family: 'Montreal-Medium';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Montreal-Medium.otf);
}

.line{
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 1rem 0;
}

.pixel-container {
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.pixel {
  width: 10px;
  height: 10px;
  background-color: black;
  margin: 1px;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}